/* * {
  border: solid 1px red;
} */

body {
  color: #999999;
} 


.header {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

}

.navbar {
  background-color: pink; /* Background color of the navbar */
  color: pink; /* Text color */
  list-style: none;
  display: flex;
  border-bottom: 1px solid #555;
  gap: 25px;
  align-content: center;
  justify-content: center;
  
}

.navbar li {
  padding: 10px 0; /* Add vertical spacing between items */
  text-align: center; /* Center-align the text */
  word-spacing: 100%
}

.navbar a {
  text-decoration: none; /* Remove underlines from links */
  color: black; /* Text color for links */
  display: block; /* Make the entire list item clickable */

}

.navbar a:hover {
  background-color: lightblue; /* Background color on hover */
}
.search {
  color: darkmagenta;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-weight: bold

}

#search_bar {
  font-family: 'Helvetica Neue';
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

}

.cards__item {
  display: flex;
  padding: 2.5rem;
  width: 25%;
}

.candy_card {
  background-color: whitesmoke;
  border-radius: 0.50rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;

}

.candy_card img {
  width: 200px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
}


.candy__image {
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  width: 200px; /* Set the desired width */
  height: 200px; /* Maintain the aspect ratio */
}




.candy_name {
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}


/* .candy_description { */
  
/* } */


.title {
  text-align: center;

}